[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
django-taggit = "*"
django-taggit-templatetags2 = "*"
django-widget-tweaks = "*"
pillow = "*"
pylint = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
